@font-face {
	font-family: 'Edit Undo Line BRK';
	src: url(../../assets/fonts/EditUndoLineBRK.woff2) format('woff2'),
	url(../../assets/fonts/EditUndoLineBRK.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}